
<%- include('include/header'); -%>

<h1>Compose</h1>
<div class="container">

    <form action="/compose"  method="post">
        
        <div class="form-group">
            <label for="postTitle" id="postTitle">title</label>
            <input type="text" class="form-control"  id="postTitle" name="postTitle"  placeholder="write"/>
            <label for="postBody" value="post" >content</label>
            <textarea placeholder="write" class="form-control" id="postBody"  name="postBody"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Publish</button>
    </form>
    
</div>
    <%- include("include/footer"); -%>
